<h1 align="center">Adaptable factories these days</h1>
<div class="container">
  <div id="carousel">
    <figure><img src="./images/w_machine.jpg" width="186" height="116" title="Machines" alt=""></figure>
    <figure><img src="./images/w_facility.jpg" width="186" height="116" title="Facility" alt=""></figure>
    <figure><img src="./images/w_digitalfactory.jpg" width="186" height="116" title="Digital factory" alt=""></figure>
    <figure><img src="./images/w_smartfactory.jpg" width="186" height="116" title="Smart factory" alt=""></figure>
    <figure><img src="./images/w_production.jpg" width="186" height="116" title="Production" alt=""></figure>
    <figure><img src="./images/w_topology.jpg" width="186" height="116" title="Topology" alt=""></figure>
    <figure><img src="./images/w_process.jpg" width="186" height="116" title="Manufacturing process" alt=""></figure>
    <figure><img src="./images/w_interaction.jpg" width="186" height="116" title="Interaction with humans" alt=""></figure>
    <figure><img src="./images/w_section.png" width="186" height="116" title="Sections" alt=""></figure>
  </div>
</div>

<br>

<div class="jumbotron text-center">
  <h1>Smart factories</h1>
  <p>What they actually are?</p>
</div>

  <div class="row">
    <div class="col-sm-3">
      <div class="box">
        <h3 class="myh3">More automation and robotics:</h3>
        <p>Makes factories more</p>
        <p>productive and flexible</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="box">
        <h3 class="myh3">Industrial internet:</h3>
        <p>Machines comunicate</p>
        <p>with each other, reducing</p>
        <p>human error</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="box">
        <h3 class="myh3">Big data:</h3>
        <p>Large data sets</p>
        <p>from sensors installed in</p>
        <p>machines are analysed to</p>
        <p>predict failures and</p>
        <p>prescribe solutions</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="box">
        <h3 class="myh3">3D Printers:</h3>
        <p>Prints out a</p>
        <p>three-dimensional</p>
        <p>object, making prototypes</p>
        <p>becomes much easier</p>
      </div>
    </div>
  </div>

