<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLinkActive="active" class="navbar-brand" [routerLink]="['/home']"><font face="impact">BDFactory</font></a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Facilities <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active"><a [routerLink]="['/home/addfacility']">Create New</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/home/facilities']">View All</a></li>
          </ul>
        </li>
        <li routerLinkActive="active" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active"><a [routerLink]="['/home/registrationreport']">New Registration</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/home/registrationReports']">View Registrations</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/home/failureReports']">View Failures</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()">Log Out <span class="glyphicon glyphicon-log-out"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
