<div class="jumbotron" style="border-bottom: 1px solid black">
  <div class="container text-center">
    <h1 class="facility-title">Facilities</h1>
    <p style="color: white">We have many facilities...</p>
  </div>
</div>

<div class="container" align="center">
  <a *ngIf="roleService.role == 'MANAGER'" [routerLink]="['/home/addfacility']" class="a_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">New Facility <span class="glyphicon glyphicon-plus"></span></a>
</div>
<hr>



<table class="table table-bordered">
  <caption style="background-color: #d4c575; border: 1px solid black">
    <h3 style="color: white;text-shadow: 1px 1px black; font-family: Beirut" align="center">Table of facilities</h3>
  </caption>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Surface</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
  <tr class="rows" *ngFor="let facility of facilities">
    <th scope="row">{{facility.idF}}</th>
    <td>{{facility.name}}</td>
    <td>{{facility.address}}</td>
    <td><span class="label label-success">{{facility.surface+' m2'}}</span></td>
    <td>
      <a [routerLink]="['/home/facilities',facility.idF]" style="cursor: pointer" class="ao_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">More <span class="glyphicon glyphicon-log-in"></span></a>
      <a *ngIf="roleService.role == 'MANAGER'" [routerLink]="['/home/facilities/update',facility.idF]" style="cursor: pointer" class="ao_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">Edit <span class="glyphicon glyphicon-list"></span></a>
      <a *ngIf="roleService.role == 'MANAGER'" data-toggle="modal" data-target="#confirmDeleteModal" (click)="assignFacilityForDelete(facility)" style="cursor: pointer" class="ao_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">Delete <span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  </tbody>
</table>



<div id="confirmDeleteModal" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <h4 class="modal-title">Delete facility: {{facility.name}}</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to permanently erase this facility?</h4>
        <p>You can’t undo this action.</p>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <button class="btn btn-primary" data-dismiss="modal" (click)="deleteFacility()"><span class="glyphicon glyphicon-check"></span> Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>






