<div class="jumbotron">
  <div class="container text-center">
    <h1 class="facility-title">Facilities</h1>
    <p style="color: #b8b5c0">We have many facilities...</p>
  </div>
</div>

<div class="container" align="center">
  <a [routerLink]="['/home/addfacility']" class="a_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">New Facility <span class="glyphicon glyphicon-plus"></span></a>
</div>
<hr>

<div class="container-fluid facilities-list">

  <div class="listWrap">

    <ul class="list">

      <li>
        <span>ID</span>
        <span>Name</span>
        <span>Address</span>
        <span>Surface</span>
        <span>Actions</span>
        <span></span>
      </li>
      <li *ngFor="let facility of facilities">
        <span>{{facility.idF}}</span>
        <span>{{facility.name}}</span>
        <span>{{facility.address}}</span>
        <span><span class="label label-success">{{facility.surface+' m2'}}</span></span>
        <span><button [routerLink]="['/home/facilities',facility.idF]" type="button" class="btn btn-default btn-sm">More..</button></span>
        <span></span>
      </li>

      <li>

      </li>
    </ul>

  </div>

</div>



