.facility-title{
  font-family: 'Charoal';
  font-size: 85px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 120px;
  color: white;
  text-shadow: 2px 2px black;
}

.jumbotron {
  background-image: url("../../../images/login-picture.svg");
  background-size: cover;}


.a_btn {
  letter-spacing: 1px;
  text-decoration: none;
  background: none;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
  font-size:14px;
  line-height:20px;
  font-weight:700;
  text-transform:uppercase;
  border: 3px solid;
  padding:4px 10px;
}

.btn-outlined {
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-outlined.btn-black {
  background: none;
  color: darkslateblue;
  border-color: darkslateblue;
}

.btn-outlined.btn-black:hover,
.btn-outlined.btn-black:active {
  color: #FFF;
  background: darkslateblue;
  border-color: darkslateblue;
}

.mi{
  border: 2px solid black;
}

.ms{
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
}
