<div class="jumbotron">
  <div class="container text-center">
    <h1 class="facility-title">Facility: {{facility.name}}</h1>
    <p style="color: #134020">We have a lot of sections...</p>
  </div>
</div>
<a class="a_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">New Section <span class="glyphicon glyphicon-plus"></span></a>
<a class="a_btn btn-outlined btn-black btn-lg" data-toggle="modal" data-target="#confirmDeleteModal" data-wow-delay="0.7s">Delete <span class="glyphicon glyphicon-trash"></span></a>
<a [routerLink]="['/home/facilities/update',facility.idF]" class="a_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">Edit <span class="glyphicon glyphicon-list"></span></a>


<div id="confirmDeleteModal" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <h4 class="modal-title">Delete facility: {{facility.name}}</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to permanently erase this facility?</h4>
        <p>You can’t undo this action.</p>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <button class="btn btn-primary" data-dismiss="modal" (click)="deleteFacility()"><span class="glyphicon glyphicon-check"></span> Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
