<div class="jumbotron" style="border-bottom: 1px solid black">
  <div class="container text-center">
    <h1 class="facility-title">Facility: {{facility.name}}</h1>
    <p style="color: white">Take a look at our sections...</p>
  </div>
</div>
<div class="container" align="center">
  <a *ngIf="roleService.role == 'MANAGER'" [routerLink]="['/home/addsection',facility.idF]" class="a_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">New Section <span class="glyphicon glyphicon-plus"></span></a>
  <a *ngIf="roleService.role == 'MANAGER'" class="a_btn btn-outlined btn-black btn-lg" data-toggle="modal" data-target="#confirmDeleteModal" data-wow-delay="0.7s">Delete <span class="glyphicon glyphicon-trash"></span></a>
  <a *ngIf="roleService.role == 'MANAGER'" [routerLink]="['/home/facilities/update',facility.idF]" class="a_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">Edit <span class="glyphicon glyphicon-list"></span></a>
</div>

<hr>
<div class="row" style="margin-right: 0.5px; margin-left: 0.5px">
  <div class="col-lg-4" *ngIf="closeDetailsBool">
    <table class="table table-bordered">
      <caption style="background-color: #e8e8e8; border: 1px solid black">
        <h3 style="color: white;text-shadow: 1px 1px black; font-family: Beirut" align="center">Details</h3>
      </caption>
      <thead>
      <tr>
        <th>Column</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
        <tr class="rows">
          <th scope="row">ID</th>
          <td>{{facility.idF}}</td>
        </tr>
        <tr class="rows">
          <th scope="row">Surface</th>
          <td><span class="label label-success">{{facility.surface+' m2'}}</span></td>
        </tr>
        <tr class="rows">
          <th scope="row">Name</th>
          <td>{{facility.name}}</td>
        </tr>
        <tr class="rows">
          <th scope="row">Address</th>
          <td>{{facility.address}}</td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="2"><button (click)="closeDetails()" class="btn btn-block btn-default">Close details <span class="glyphicon glyphicon-remove"></span></button></td>
      </tfoot>
    </table>
  </div>
  <div class="col-lg-8" id="sectionDiv">
    <table class="table table-bordered">
      <caption style="background-color: #e8e8e8; border: 1px solid black">
        <h3 style="color: white;text-shadow: 1px 1px black; font-family: Beirut" align="center">Table of sections</h3>
      </caption>
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Surface</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr class="rows" *ngFor="let section of sections">
        <th scope="row">{{section.idS}}</th>
        <td>{{section.name}}</td>
        <td>{{section.description}}</td>
        <td><span class="label label-success">{{section.surface+' m2'}}</span></td>
        <td><button [routerLink]="['/home/sections',section.idS]" type="button" class="btn btn-default btn-sm">More..</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




<div id="confirmDeleteModal" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <h4 class="modal-title">Delete facility: {{facility.name}}</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to permanently erase this facility?</h4>
        <p>You can’t undo this action.</p>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <button class="btn btn-primary" data-dismiss="modal" (click)="deleteFacility()"><span class="glyphicon glyphicon-check"></span> Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
