<div class="jumbotron" style="border-bottom: 1px solid black">
  <div class="container text-center">
    <h1 class="facility-title">Section: {{section.name}}</h1>
    <p style="color: white">Just one section...</p>
  </div>
</div>
<div class="container" align="center">

  <a class="a_btn btn-outlined btn-black btn-lg" data-toggle="modal" data-target="#confirmDeleteModal" data-wow-delay="0.7s">Delete <span class="glyphicon glyphicon-trash"></span></a>
  <a [routerLink]="['/home/sections/update',section.idS]" class="a_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">Edit <span class="glyphicon glyphicon-list"></span></a>
  <div class="btn-group btn-group-primary">
  <button data-toggle="dropdown" class="a_btn btn-outlined btn-black btn-lg dropdown-toggle" data-wow-delay="0.7s" type="button"><span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a [routerLink]="['/home/addmachine',section.idS]">New Machine</a></li>
    <li><a data-toggle="modal" data-target="#interfaceModal">New Interface</a></li>
    <li><a data-toggle="modal" data-target="#connectionTypeModal">New Protocol</a></li>
    <li class="divider"></li>
    <li><a [routerLink]="['/home/addtopology',section.idS]">New Topology</a></li>
    <li><a data-toggle="modal" data-target="#chooseTopologyForProcess">New Process</a></li>
  </ul>
  </div>

</div>

<hr>


<section class="home-content-top">
  <div class="container-fluid">


    <div class="clearfix"></div>
    <!--<h1 class="heading1">Welcome to section</h1>-->
    <div class="tabbable-panel margin-tops4 ">
      <div class="tabbable-line">
        <ul class="nav nav-tabs tabtop  tabsetting">
          <li class="active"> <a href="#tab_default_1" data-toggle="tab"> Details </a> </li>
          <li> <a href="#tab_default_2" data-toggle="tab"> Machines </a> </li>
          <li> <a href="#tab_default_3" data-toggle="tab" (click)="makeGoTopology()"> Topology </a> </li>
          <li> <a href="#tab_default_4" data-toggle="tab"> Process </a> </li>
          <li> <a href="#tab_default_6" data-toggle="tab"> Interfaces </a> </li>
          <li> <a href="#tab_default_5" data-toggle="tab"> Protocols </a> </li>
        </ul>
        <div class="tab-content margin-tops">

          <div class="tab-pane active fade in" id="tab_default_1">
              <div class="container">
                <table class="table table-bordered">
                  <caption style="background-color: #84a3c0; border: 1px solid black">
                    <h3 style="color: white;text-shadow: 1px 1px black; font-family: Beirut" align="center">The table presents information about the section</h3>
                  </caption>
                  <thead>
                  <tr>
                    <th>Column</th>
                    <th>Value</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="rows">
                    <th scope="row">ID</th>
                    <td>{{section.idS}}</td>
                  </tr>
                  <tr class="rows">
                    <th scope="row">Surface</th>
                    <td><span class="label label-success">{{section.surface+' m2'}}</span></td>
                  </tr>
                  <tr class="rows">
                    <th scope="row">Name</th>
                    <td>{{section.name}}</td>
                  </tr>
                  <tr class="rows">
                    <th scope="row">Description</th>
                    <td>{{section.description}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
          </div>

          <div class="tab-pane fade" id="tab_default_2">
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let machine of machines">
                    <div class="my-list" style="height: 250px; width: 150px">
                      <img style="width: 100px;height: 70px" src="{{'./images/' + machine.idM + machine.image}}" alt="dsadas" />
                      <h3>Machine: {{machine.name}}</h3>
                      <span>Id: {{machine.idM}}</span>
                      <span class="pull-right">Section: {{section.idS}}</span>
                      <div class="offer">Description: {{machine.description}}</div>
                      <div class="detail">
                        <img style="width: 100px;height: 70px" src="{{'./images/' + machine.idM + machine.image}}" alt="dsadas" />
                        <hr>
                        <div class="row" style="margin-bottom: 5px"><a class="a_btn btn-outlined btn-black btn-sm" data-wow-delay="0.7s" data-toggle="modal" data-target="#sendReport" title="Report" (click)="setSelected(machine)"><span class="glyphicon glyphicon-wrench"></span></a> </div>

                        <div class="row" style="margin-bottom: 5px"><a (click)="assignMachineForDelete(machine)" data-toggle="modal" data-target="#confirmMachineDeleteModal" title="Delete" class="a_btn btn-outlined btn-black btn-sm" data-wow-delay="0.7s"><span class="glyphicon glyphicon-trash"></span></a></div>

                        <div class="row"><a data-toggle="modal" (click)="assignMachineForDetails(machine)" data-target="#machineDetailsModal" title="Details" class="a_btn btn-outlined btn-black btn-sm" data-wow-delay="0.7s"><span class="glyphicon glyphicon-zoom-in"></span></a></div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="tab-pane fade" id="tab_default_3">
            <div class="container-fluid">
              <div class="col-md-6">
                <table class="table table-bordered" id="topologyTable">
                  <caption style="background-color: #84a3c0; border: 1px solid black">
                    <h3 style="color: white;text-shadow: 1px 1px black; font-family: Beirut" align="center">Topologies</h3>
                    <h5 style="color: white;text-shadow: 1px 1px black; font-family: Beirut" align="center">Click on topology for preview</h5>
                  </caption>
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th colspan="3">Description</th>
                    <th>Author</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="rows" *ngFor="let t of topologies">
                    <th scope="row">{{t.idT}}</th>
                    <td>{{t.name}}</td>
                    <td colspan="3">{{t.description}}</td>
                    <td>{{t.author.username}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <div id="topologyDiv" style="border: solid 1px black; margin-bottom: 10px; height: 400px;"></div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="tab_default_4">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <table class="table table-bordered" id="processesTable">
                    <caption style="background-color: #84a3c0;">
                      <h3 style="color: white;text-shadow: 1px 1px black; font-family: Beirut" align="center">
                        Processes</h3>
                    </caption>
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>ID</th>
                      <th>Name</th>
                      <th colspan="3">Description</th>
                      <th>Topology</th>
                      <th>Author</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="rows" *ngFor="let p of processes; let i = index" id="trp{{p.idP}}" (click)="setActiveProcess(p)">
                      <td>{{i + 1}}.</td>
                      <td>{{p.idP}}</td>
                      <td>{{p.name}}</td>
                      <td colspan="3">{{p.description}}</td>
                      <td>{{p.topology.name}}</td>
                      <td>{{p.author.username}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6" align="center">
                  <div id="processDiagramDiv" style="border: 1px solid black; width: 600px; height: 400px; margin-bottom: 10px;"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="tab_default_5">
              <div class="container">
                <table class="table table-bordered" id="connectionTypeTable">
                  <caption style="background-color: #84a3c0; border: 1px solid black">
                    <h3 style="color: white;text-shadow: 1px 1px black; font-family: Beirut" align="center">The table presents informations about the protocols</h3>
                  </caption>
                  <thead>
                  <tr>
                    <th>idP</th>
                    <th>Name</th>
                    <th>Description</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="rows" *ngFor="let contype of connectionTypes">
                    <th scope="row">{{contype.idCT}}</th>
                    <td>{{contype.name}}</td>
                    <td>{{contype.description}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
          </div>

          <div class="tab-pane fade" id="tab_default_6">
              <div class="container">
                <table class="table table-bordered" id="interfacesTable">
                  <caption style="background-color: #84a3c0; border: 1px solid black">
                    <h3 style="color: white;text-shadow: 1px 1px black; font-family: Beirut" align="center">The table presents informations about the interfaces</h3>
                  </caption>
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="rows" *ngFor="let iface of interfaces">
                    <th scope="row">{{iface.idI}}</th>
                    <td>{{iface.name}}</td>
                    <td>{{iface.description}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<div id="sendReport" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <h4 class="modal-title">Send a report about a failure on machine : {{m.name}}. </h4>
      </div>
      <div class="modal-body">
          <textarea class="form-control" #textarea></textarea>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <button class="btn btn-primary" data-dismiss="modal" (click)="sendReport()"><span class="glyphicon glyphicon-check"></span> Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="confirmDeleteModal" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <h4 class="modal-title">Delete section: {{section.name}}</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to permanently erase this section?</h4>
        <p>You can’t undo this action.</p>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <button class="btn btn-primary" data-dismiss="modal" (click)="deleteSection()"><span class="glyphicon glyphicon-check"></span> Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="confirmMachineDeleteModal" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <h4 class="modal-title">Delete machine: {{machineForDelete.name}}</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to permanently erase this machine?</h4>
        <p>You can’t undo this action.</p>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <button class="btn btn-primary" data-dismiss="modal" (click)="deleteMachine()"><span class="glyphicon glyphicon-check"></span> Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="connectionTypeModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="closeConnectionTypeButton" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="lineModalLabel">Protocol form</h3>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitConnectionType(fff)" ngNativeValidate #fff="ngForm">
          <div class="form-group">
            <label for="ctname">Name</label>
            <input type="text" class="form-control" required ngModel name="name" id="ctname" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="ctdescription">Description</label>
            <textarea class="form-control" id="ctdescription" name="description" required ngModel placeholder="Description"></textarea>
          </div>

          <div class="modal-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" data-dismiss="modal"  role="button">Close</button>
              </div>
              <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary btn-hover-green" data-action="save" role="button">Save</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="machineDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog my-dialog">
    <div class="modal-content my-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Machine details <small>and interfaces :)</small></h4>
      </div>
      <div class="modal-body">


        <label style="color: #66CC44" align="left">Machine:</label>
        <table style="margin-top: -10px" class="table table-hover table-inverse" id="machineTableModal">
          <thead>
          <tr>
            <th>idM</th>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{machineForDetails.idM}}</td>
            <td>{{machineForDetails.name}}</td>
            <td>{{machineForDetails.image}}</td>
            <td>{{machineForDetails.description}}</td>
          </tr>
          </tbody>
        </table>

        <hr>

        <label style="color: #5bc0de" align="left">Interfaces:</label>
        <table style="margin-top: -10px" class="table table-hover table-inverse" id="ifaceTableModal">
          <thead>
          <tr>
            <th>idI</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let iface of machineForDetails.supportsInterface">
            <td>{{iface.idI}}</td>
            <td>{{iface.name}}</td>
            <td>{{iface.description}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="interfaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="closeInterfaceModalButton" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="lineModalLabel1">Interface form</h3>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitInterface(ff.value,ff)" ngNativeValidate #ff="ngForm">
          <div class="form-group">
            <label for="iname">Name</label>
            <input type="text" class="form-control" required ngModel name="name" id="iname" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="idescription">Description</label>
            <textarea class="form-control" id="idescription" name="description" required ngModel placeholder="Description"></textarea>
          </div>

          <div class="modal-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" data-dismiss="modal"  role="button">Close</button>
              </div>
              <div class="btn-group" role="group">
                <button type="submit" id="submitInterfaceButton" class="btn btn-primary btn-hover-green" data-action="save" role="button">Save</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="chooseTopologyForProcess" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="chooseTopologyForProcessClose" #chooseTopologyForProcessClose data-dismiss="modal"><span
          aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <div align="center"><h3 class="modal-title" id="lineModalLabel11">Choose a topology for new process</h3></div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <table class="table table-bordered" id="topologyTablee">
            <thead>
            <tr>
              <th>#</th>
              <th>ID</th>
              <th>Name</th>
              <th colspan="3">Description</th>
              <th>Version</th>
              <th>Author</th>
            </tr>
            </thead>
            <tbody>
            <tr class="rowPointer" *ngFor="let t of topologies; let i = index" (click)="chooseTopology(t)"
                id="tr{{t.idT}}">
              <td>{{i + 1}}.</td>
              <td>{{t.idT}}</td>
              <td>{{t.name}}</td>
              <td colspan="3">{{t.description}}</td>
              <td>{{t.version}}</td>
              <td>{{t.author.username}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div align="center" style="margin-bottom: 20px;">
          <button type="button" class="btn btn-primary" role="button" (click)="goToNewProcessPage()">Choose</button>
        </div>
      </div>
    </div>
  </div>
</div>
