<div class="jumbotron">
  <div class="container text-center">
    <h1 class="facility-title">Section: {{section.name}}</h1>
    <p style="color: #e5d05b">Just one section...</p>
  </div>
</div>
<div class="container" align="center">
  <a [routerLink]="['/home/addmachine',section.idS]" class="a_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">New Machine <span class="glyphicon glyphicon-plus"></span></a>
  <a class="a_btn btn-outlined btn-black btn-lg" data-toggle="modal" data-target="#confirmDeleteModal" data-wow-delay="0.7s">Delete <span class="glyphicon glyphicon-trash"></span></a>
  <a [routerLink]="['/home/sections/update',section.idS]" class="a_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">Edit <span class="glyphicon glyphicon-list"></span></a>
</div>


<hr>




<section class="home-content-top">
  <div class="container">


    <div class="clearfix"></div>
    <h1 class="heading1">Welcome to section</h1>
    <div class="tabbable-panel margin-tops4 ">
      <div class="tabbable-line">
        <ul class="nav nav-tabs tabtop  tabsetting">
          <li class="active"> <a href="#tab_default_1" data-toggle="tab"> Details </a> </li>
          <li> <a href="#tab_default_2" data-toggle="tab"> Machines </a> </li>
          <li> <a href="#tab_default_3" data-toggle="tab"> Topology </a> </li>
          <li> <a href="#tab_default_4" data-toggle="tab"> Process </a> </li>
          <li> <a href="#tab_default_6" data-toggle="tab"> Interfaces </a> </li>
          <li> <a href="#tab_default_5" data-toggle="tab"> Connection types </a> </li>
        </ul>
        <div class="tab-content margin-tops">

          <div class="tab-pane active fade in" id="tab_default_1">
            <div class="col-md-4">
              <div class="row"> <img src="./images/section-details.jpg" class="img-responsive"> </div>
            </div>
            <div class="col-md-8">
              <div class="row" style="text-align: center">
                <label style="font-family: Copperplate;color: #e5d05b; font-size: 25px" align="left">idS:</label><strong style="font-family: Copperplate; font-size: 25px">  {{section.idS}}</strong>
              </div>
              <div class="row" style="text-align: center">
                <label style="font-family: Copperplate;color: #e5d05b; font-size: 25px" align="left">Name:</label><strong style="font-family: Copperplate; font-size: 25px">  {{section.name}}</strong>
              </div>
              <div class="row" style="text-align: center">
                <label style="font-family: Copperplate;color: #e5d05b; font-size: 25px" align="left">Description:</label><strong style="font-family: Copperplate; font-size: 25px">  {{section.description}}</strong>
              </div>
              <div class="row" style="text-align: center">
                <label style="font-family: Copperplate;color: #e5d05b; font-size: 25px" align="left">Surface:</label><strong style="font-family: Copperplate; font-size: 25px">  {{section.surface+' m2'}}</strong>
              </div>
              <div class="row" style="text-align: center">
                <label style="font-family: Copperplate;color: #e5d05b; font-size: 25px" align="left">Machines:</label><strong style="font-family: Copperplate; font-size: 25px">  {{machines.length}}</strong>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="tab_default_2">
            <div class="col-md-4">
              <div class="row"> <img src="./images/sd-machines.jpg" style="width: 100%;height: 100%" class="img-responsive"> </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let machine of machines">
                  <div class="my-list" style="height: 250px">
                    <img style="width: 100px;height: 70px" src="{{'./images/' + machine.idM + machine.image}}" alt="dsadas" />
                    <h3>Machine: {{machine.name}}</h3>
                    <span>Id: {{machine.idM}}</span>
                    <span class="pull-right">Section: {{section.idS}}</span>
                    <div class="offer">Description: {{machine.description}}</div>
                    <div class="detail">
                      <img style="width: 100px;height: 70px" src="{{'./images/' + machine.idM + machine.image}}" alt="dsadas" />
                      <hr>
                      <!--<div class="row" style="margin-bottom: 5px;display: none"><a [routerLink]="['/home/updatemachine',machine.idM]" title="Edit" class="a_btn btn-outlined btn-black btn-sm" data-wow-delay="0.7s"><span class="glyphicon glyphicon-list"></span></a></div>-->
                      <div class="row" style="margin-bottom: 5px"><a class="a_btn btn-outlined btn-black btn-sm" data-wow-delay="0.7s" data-toggle="modal" data-target="#sendReport" title="Report" (click)="setSelected(machine)"><span class="glyphicon glyphicon-wrench"></span></a> </div>

                      <div class="row" style="margin-bottom: 5px"><a (click)="assignMachineForDelete(machine)" data-toggle="modal" data-target="#confirmMachineDeleteModal" title="Delete" class="a_btn btn-outlined btn-black btn-sm" data-wow-delay="0.7s"><span class="glyphicon glyphicon-trash"></span></a></div>

                      <div class="row"><a data-toggle="modal" (click)="assignMachineForDetails(machine)" data-target="#machineDetailsModal" title="Details" class="a_btn btn-outlined btn-black btn-sm" data-wow-delay="0.7s"><span class="glyphicon glyphicon-zoom-in"></span></a></div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="tab_default_3">
            <div class="col-md-4">
              <div class="row"> <img src="./images/sd-topology.png" class="img-responsive"> </div>
            </div>
            <div class="col-md-8">
              <a [routerLink]="['/home/addtopology',section.idS]" class="a_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">New Topology <span class="glyphicon glyphicon-plus"></span></a>
              <hr>
              <h4 class="heading4">Shopify Product Upload </h4>
              <p>Are you looking for someone who could upload products on your Magento based website? At webenlance India, we can effectively help you with our top quality Magento product upload services. With the pool of well experienced and talented experts, we ensure that your customers have an enriching experience every time they visit your website. Our comprehensive range of services is available all over the globe at extremely low cost. </p>
              <h4 class="heading4">Shopify Product Upload </h4>
              <p>Also a data entry company from India, we provide time-bound and high-quality data entry services and encourage our clients to outsource end-to-end data entry projects to us. </p>
              <a href="#">
                <div class="btns">View More <i class="fa fa-angle-right"></i></div>
              </a> </div>
          </div>

          <div class="tab-pane fade" id="tab_default_4">
            <div class="col-md-4">
              <div class="row"> <img src="./images/w_process.jpg" class="img-responsive"> </div>
            </div>
            <div class="col-md-8">
              <h4 class="heading4">OpenCart Product Upload</h4>
              <p>Are you looking for someone who could upload products on your Magento based website? At webenlance India, we can effectively help you with our top quality Magento product upload services. With the pool of well experienced and talented experts, we ensure that your customers have an enriching experience every time they visit your website. Our comprehensive range of services is available all over the globe at extremely low cost. </p>
              <h4 class="heading4">OpenCart Product Upload</h4>
              <p>Also a data entry company from India, we provide time-bound and high-quality data entry services and encourage our clients to outsource end-to-end data entry projects to us. </p>
              <a href="#">
                <div class="btns">View More <i class="fa fa-angle-right"></i></div>
              </a> </div>
          </div>

          <div class="tab-pane fade" id="tab_default_5">
            <div class="col-md-4">
              <div class="row"> <img src="./images/contype.jpeg" class="img-responsive"> </div>
            </div>
            <div class="col-md-8">
              <a data-toggle="modal" data-target="#connectionTypeModal" class="a_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">New Type <span class="glyphicon glyphicon-plus"></span></a>
              <hr>
              <label align="left">Connection types:</label>
              <table class="table table-hover table-inverse" id="connectionTypeTable">
                <thead>
                <tr>
                  <th>idCT</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Interface</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let contype of connectionTypes">
                  <td>{{contype.idCT}}</td>
                  <td>{{contype.name}}</td>
                  <td>{{contype.description}}</td>
                  <td>{{contype.iface.name}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="tab-pane fade" id="tab_default_6">
            <div class="col-md-4">
              <div class="row"> <img src="./images/s_interfaces.jpg" class="img-responsive"> </div>
            </div>
            <div class="col-md-8">
              <a data-toggle="modal" data-target="OVDE INTERFACE" class="a_btn btn-outlined btn-black btn-lg" data-wow-delay="0.7s">New Interface <span class="glyphicon glyphicon-plus"></span></a>
              <hr>
              <label align="left">Interfaces:</label>
              <table class="table table-hover table-inverse" id="interfacesTable">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>2</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<div id="sendReport" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <h4 class="modal-title">Send a report about a failure on machine : {{m.name}}. </h4>
      </div>
      <div class="modal-body">
          <textarea class="form-control" #textarea></textarea>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <button class="btn btn-primary" data-dismiss="modal" (click)="sendReport()"><span class="glyphicon glyphicon-check"></span> Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="confirmDeleteModal" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <h4 class="modal-title">Delete section: {{section.name}}</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to permanently erase this section?</h4>
        <p>You can’t undo this action.</p>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <button class="btn btn-primary" data-dismiss="modal" (click)="deleteSection()"><span class="glyphicon glyphicon-check"></span> Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="confirmMachineDeleteModal" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <h4 class="modal-title">Delete machine: {{machineForDelete.name}}</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to permanently erase this machine?</h4>
        <p>You can’t undo this action.</p>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <button class="btn btn-primary" data-dismiss="modal" (click)="deleteMachine()"><span class="glyphicon glyphicon-check"></span> Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="connectionTypeModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="closeConnectionTypeButton" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="lineModalLabel">Connection type form</h3>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitConnectionType(fff)" ngNativeValidate #fff="ngForm">
          <div class="form-group">
            <label for="ctname">Name</label>
            <input type="text" class="form-control" required ngModel name="name" id="ctname" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="ctdescription">Description</label>
            <textarea class="form-control" id="ctdescription" name="description" required ngModel placeholder="Description"></textarea>
          </div>

          <div class="form-group">
            <label for="interface">Interface</label>
            <select ngModel required name="interface" id="interface" class="form-control">
              <option disabled selected value> -- select interface -- </option>
              <option *ngFor="let ifaces of interfaces">{{'idI:'+ifaces.idI + ' '+ 'Name:'+ifaces.name}}</option>
            </select>
          </div>

          <div class="modal-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" data-dismiss="modal"  role="button">Close</button>
              </div>
              <div class="btn-group" role="group">
                <button type="submit" id="submitInterfaceButton" class="btn btn-primary btn-hover-green" data-action="save" role="button">Save</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="machineDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog my-dialog">
    <div class="modal-content my-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Machine details <small>and interfaces :)</small></h4>
      </div>
      <div class="modal-body">


        <label style="color: #66CC44" align="left">Machine:</label>
        <table style="margin-top: -10px" class="table table-hover table-inverse" id="machineTableModal">
          <thead>
          <tr>
            <th>idM</th>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{machineForDetails.idM}}</td>
            <td>{{machineForDetails.name}}</td>
            <td>{{machineForDetails.image}}</td>
            <td>{{machineForDetails.description}}</td>
          </tr>
          </tbody>
        </table>

        <hr>

        <label style="color: #5bc0de" align="left">Interfaces:</label>
        <table style="margin-top: -10px" class="table table-hover table-inverse" id="ifaceTableModal">
          <thead>
          <tr>
            <th>idI</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let iface of machineForDetails.supportsInterface">
            <td>{{iface.idI}}</td>
            <td>{{iface.name}}</td>
            <td>{{iface.description}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
