.facility-title{
  font-family: 'Brush Script MT', cursive;
  font-size: 85px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 120px;
  color: #e5d05b;
}

.jumbotron {
  background-image: url("../../../images/sections_jumbo.jpg");
  background-size: cover;}

.a_btn {
  letter-spacing: 1px;
  text-decoration: none;
  background: none;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
  font-size:14px;
  line-height:20px;
  font-weight:700;
  text-transform:uppercase;
  border: 3px solid;
  padding:8px 20px;
}

.btn-outlined {
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-outlined.btn-black {
  background: none;
  color: #000000;
  border-color: #000000;
}

.btn-outlined.btn-black:hover,
.btn-outlined.btn-black:active {
  color: #FFF;
  background: #000000;
  border-color: #000000;
}


/*dasdasda*/

.modal .modal-header {
  border-bottom: none;
  position: relative;
}
.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal .modal-footer {
  border-top: none;
  padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
}
.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
}


/*dasdasdadas*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300);
.heading4{font-size:18px;font-weight:400;font-family:'Lato', sans-serif;color:#111111;margin:0px 0px 5px 0px;}
.heading1{font-size:30px;line-height:20px;font-family:'Lato', sans-serif;text-transform:uppercase;color:#1b2834;font-weight:900;}
.content-quality{float:left;width:193px;}
.content-quality p{margin-left:10px;font-family:'Open Sans', sans-serif;font-size:14px;font-weight:600;line-height:17px;}
.content-quality p span{display:block;}
.tabtop li a{font-family:'Lato', sans-serif;font-weight:700;color:#1b2834;border-radius:0px;margin-right:22.008px;border:1px solid #ebebeb !important;}
.tabtop .active a:before{content:"♦";position:absolute;top:15px;left:82px;color:#e31837;font-size:30px;}
.tabtop li a:hover{color:#e31837 !important;text-decoration:none;}
.tabtop .active a:hover{color:#fff !important;}
.tabtop .active a{background-color:#e31837 !important;color:#FFF !important;}
.margin-tops{margin-top:30px;}
.tabtop li a:last-child{padding:10px 22px;}
.thbada{padding:10px 28px !important;}
section p{font-family:'Lato', sans-serif;}
.margin-tops4{margin-top:20px;}
.tabsetting{border-top:5px solid #ebebeb;padding-top:6px;}
.services{background-color:#d4d4d4;min-height:710px;padding:65px 0 27px 0;}
.services a:hover{color:#000;}
.services h1{margin-top:0px !important;}
.heading-container p{font-family:'Lato', sans-serif;text-align:center;font-size:16px !important;text-transform:uppercase;}


/*dadadada*/
img{max-width:100%;}
*{transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease}
.my-list {
  width: 100%;
  padding: 10px;
  border: 1px solid #f5efef;
  float: left;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 2px 3px 0px #e4d8d8;
  position:relative;
  overflow:hidden;
}
.my-list h3{
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #ccc4c4;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.my-list span{float:left;font-weight: bold;}
.my-list span:last-child{float:right;}
.my-list .offer{
  width: 100%;
  float: left;
  margin: 5px 0;
  border-top: 1px solid #ccc4c4;
  margin-top: 5px;
  padding-top: 5px;
  color: #afadad;
}
.detail {
  position: absolute;
  top: -100%;
  left: 0;
  text-align: center;
  background: #fff;height: 100%;width:100%;

}

.my-list:hover .detail{top:0;}

/*dadasdasda*/
